<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Quarantine.cult, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Quarantine.com,
      your username is: <%= @user.email %>.<br/>
      In order to finish your registration please click <%= user_confirm_email_url(@user.confirm_token) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>