Welcome to Quarantine.cult, <%= @user.name %>
===============================================
 
You have successfully signed up to Quarantine.cult,
your email is: <%= @user.name %>.
 
In order to finish your registration please click here
 
Thanks for joining and have a great day!
